.image-gallery {
  width: 100%;

  .image-gallery-image {
    border: 2px solid grey;
  }

  .image-gallery-thumbnail {
    transform: translateY(0);
    overflow: hidden;
    opacity: 0.7;
    border: 2px solid transparent;
    transition: $transition--cubic;

    &.active {
      opacity: 1;
      border: 2px solid grey;
    }
    img {
      transition: $transition--cubic;
      margin-bottom: -5px;
    }
    :hover {
      img {
        transform: translateY(-5px);
      }
    }
  }
  // .image-gallery-content {
  //   .image-gallery-left-nav,
  //   .image-gallery-right-nav {
  //     color: gray;
  //     background: violet;
  //     width: 35px;
  //     height: 35px;
  //     font-size: 28px;
  //     padding: 0;
  //     border-radius: 50%;
  //     text-align: center;
  //     font-weight: 700;
  //     margin: 5px 10px;
  //     &:hover {
  //       &:before {
  //         color: white;
  //       }
  //     }
  //   }
  //   .image-gallery-left-nav {
  //     padding-right: 3px;
  //   }
  //   .image-gallery-right-nav {
  //     padding-left: 3px;
  //   }
  // }//
}

#imageMagnefyerDiv {
  z-index: 99;
}

// .productimg-wrapp {
//     width: 100px;
// }

.onno-bosro-slide-image div img {
  @media screen and (max-width: 500px) {
    width: 400px;
    height: 300px;
  }

  @media screen and (max-width: 450px) {
    width: 350px !important;
    height: 250px !important;
  }

  @media screen and (max-width: 400px) {
    width: 300px !important;
    height: 100px !important;
  }

  @media screen and (max-width: 400px) {
    width: 300px !important;
    height: 150px !important;
  }

  @media screen and (max-width: 400px) {
    width: 300px !important;
    height: 150px !important;
  }
}
