/* // .App {
    //     text-align: center;
    //     height: 5000px;
    //   } */
      
      .scrollTop {
        position: fixed; 
        width: 100%;
        bottom: 147px;
        align-items: flex-end;
        height: 20px;
        justify-content: center;
        z-index: 1000;
        cursor: pointer;
        animation: fadeIn 0.3s;
        transition: opacity 0.4s;
        /* opacity: 0.5; */
        left: 436px;
      }
      
      /* .scrollTop:hover{
        opacity: 1;
      } */
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 0.5;
        }
      }