// Responsive Variables

// min : 1200px, max 1499
$desktop-device: "only screen and (min-width: 75em) and (max-width: 93.6875em)";

// min : 992px, max 1199
$laptop-device: "only screen and (min-width: 62em) and (max-width: 74.9375em)";

// min : 768px, max 991px
$tablet-device: "only screen and (min-width: 48em) and (max-width: 61.9375em)";

// max 767px
$large-mobile: "only screen and (max-width: 47.9375em)";

// max 575px
$small-mobile: "only screen and (max-width: 35.9375em)";

// max 479px
$extra-small-mobile: "only screen and (max-width: 29.9375em)";

$color-primary-1: #091436;
$color-primary-2: #111b3d;
$color-primary-overlay: rgba(17, 27, 61, 0.51);
$color-light-1: #feffff;
$color-light-2: #def2f1;
$color-light-back-1: #f7f8fa;
$color-light-back-2: #f7f8fa;
$color-dark-1: #071029;
$color-golden: rgb(211, 180, 102);
$color-sweet-red: #9c2e53;

$color-code-1: #ffc107;
$color-code-1-hover: #fee500;
$product-card-button: #e4e4e4;
$color-code-1-dark-3: #ff6000;
$color-code-1-dark-4: #e99d00;
$color-code-1-faded: #ffffffb6;
$color-code-1-white-1: #f8f8ff;
$color-code-1-white-2: #f9f9f9;
$color-code-1-white-2-hover: #f1f1f1;
$color-code-1-white-3: #eee;
$color-code-1-foreground: #205701;
$color-code-1-text-1: #333;
$color-code-1-text-2: #444;
$color-code-1-text-3: #777;
$color-code-1-alert: #eb170c;
$color-code-1-alert-success: #4ead4e;
$color-code-1-order-success-modal: #00a663;
$color-code-1-black-1: #000;
$color-code-1-black-2: #09090a;
$color-code-1-black-3: #000000;
$color-code-1-navigation-item-1: #e81c37;
$color-code-1-navigation-item-2: #f77d0e;
$color-code-1-bundle-product-card-1: #fefe0071;
$color-code-1-bundle-product-card-2: #303a3f;
$color-code-1-recipe-instructions: #e4e45e;

$transition--cubic: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
